:root {
    --color-claro: #EEF0EB;
    --color-primario: #1D201F;
    --color-secundario: #DF928E;
}

html, body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    background: var(--color-primario);
    height: 100%;
}

form#panel {
    border: none;
}


#panel {
    width: 100%;
}

input {
    margin: 1rem 0 1rem 0;
    border: none !important;
    border-radius: .1rem !important;
}
input:active {
    outline: none !important;
    box-shadow: none !important;
}
input:focus {
    outline: none !important;
    box-shadow: none !important;
}
.form-control {
    background-color: #ededed;
}

.btn {
    background-color: transparent;
    border: none;
    color: var(--color-primario);
    margin-top: 0;
    padding: .5rem 1rem .5rem 1rem;
    font-weight: 600;
}
.btn:hover {
    background-color: var(--color-secundario);
}
.btn:active {
    background-color: var(--color-primario) !important;
}
.btn:focus {
    background-color: var(--color-primario) !important;
}

::-webkit-input-placeholder {
    font-weight:100;
}
:-moz-placeholder {
    font-weight: 100;
}
::-moz-placeholder {
    font-weight: 100;
}

.card {
    padding: 0 1rem 0 1rem;
    border-radius: .1rem !important;
    border: none;
}

h1 {
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    color: white;
}