body {

}
.containerNoPermitido {
   
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40% ;
    width: 100% !important;
}
.containerNoPermitido, p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: larger;
}
.containerNoPermitido, img {
    width: 150px;
}
a {
    border-radius: .1rem;
    font-size: 1.25rem;
    background: #1D201F;
    color: white;
    margin-top: 5px;
    padding: .75rem 1.5rem .75rem 1.5rem;
    text-decoration: blink;
}

