:root {
    --color-claro: #EEF0EB;
    --color-primario: #1D201F;
    --color-secundario: #DF928E;
}

html, body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    background: var(--color-claro);
    height: 100%;
}

table {
    border: none;
    margin: 0;
}

td {
    padding: 0rem 2rem 0rem 2rem;
    border: none;
    min-width: 15rem;
}

#sidebar-row, #main-table, #form1, #sidebar {
    height: 100%;
}

#sidebar, #site-logo {
    background: var(--color-primario);
    color: var(--color-claro);
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color: var(--color-claro);
    text-decoration: none;
    transition: font-weight .3s ease-in-out;
    transition: font-size .3s ease-in-out;
}

li a:hover {
    color: var(--color-secundario);
    font-weight: 700;
    font-size: 1.25rem;
}

h1 {
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
}

h3 {
    font-weight: 900;
    margin-bottom: 0;
    padding-bottom:0;
}

#icon {
    fill: white;
    color: white;
    float: left;
    margin: .25rem 1rem .25rem 0;
}

#logo {
    vertical-align: middle;
}


.tabla {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.cabecera {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #808080;
    height: 60px;
    background: #36304a;
    line-height: 1.2;
    font-weight: unset;
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;

}
.filas {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
    height: 50px;
}
.filas:hover {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
}

